<<<<<<< HEAD
body{
    background-image: url('../assets/Online_Shoping2.jpg');
    background-size: cover;
    background-attachment: fixed;

}

.registerform{
    margin-top: 3%;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(60, 61, 62, 0.598);
    padding: 45px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#fname,#lname,#email,#password,#confirmpassword,#showCpassword{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#loginroute{
    color:white;
}
#registerbtn{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(239, 129, 55, 0.863);
    color: aliceblue;
}

#registerbtn:hover{
    background-color: rgba(232, 101, 13, 0.863);
    padding: 12px;
=======
body{
    background-image: url('../assets/Online_Shoping2.jpg');
    background-size: cover;
    background-attachment: fixed;

}

.registerform{
    margin-top: 3%;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(60, 61, 62, 0.598);
    padding: 45px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#fname,#lname,#email,#password,#confirmpassword,#showCpassword{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#registerbtn{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(239, 129, 55, 0.863);
    color: aliceblue;
}

#registerbtn:hover{
    background-color: rgba(232, 101, 13, 0.863);
    padding: 12px;
>>>>>>> 9545e20a93feee1bf998978b67c73a92db5dabca
}